.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  transition: all .35s ease;

  background: transparent;
}

.navbar--scrolled {

  background: rgba(8, 18, 44, .88);

  backdrop-filter: blur(18px);

  border-bottom: 1px solid rgba(255,255,255,.08);

  box-shadow: 0 10px 30px rgba(0,0,0,.25);

}
.navbar__logo img {
  width: 400px;
  height: auto;
  display: block;
  object-fit: contain;
}

.navbar__container{

    width:min(1400px,92%);

    margin:auto;

    height:90px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}

.navbar__logo{

    color:#F2C94C;

    font-size:2rem;

    font-weight:800;

}

.navbar__menu{

    display:flex;

    gap:40px;

}

.navbar__menu a{

    color:white;

    text-decoration:none;

    font-weight:500;

    transition:.3s;

}

.navbar__menu a:hover{

    color:#8BC5FF;

}

.navbar__button{

    border:none;

    cursor:pointer;

    padding:14px 28px;

    border-radius:999px;

    background:linear-gradient(135deg,#174EA6,#2B6DE8);

    color:white;

    font-weight:700;

    transition:.3s;

}

.navbar__button:hover{

    transform:translateY(-2px);

    box-shadow:0 15px 35px rgba(43,109,232,.35);

}

@media(max-width:950px){

.navbar__menu{

display:none;

}

}